/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-10-2017, 10:12:30
    Author     : Usuario
*/

#andenOcupado{
    -fx-text-fill: white;
    -fx-background-color: #ba0000;
    -fx-font-size: 16px;
}

#andenReservado{
    -fx-text-fill: white;
    -fx-background-color: #ffcc33;
    -fx-font-size: 16px;
}

#andenDisponible{
    -fx-text-fill: white;
    -fx-background-color: #009900;
    -fx-font-size: 16px;
}

#andenDisponible:hover{
    -fx-background-color: #33ff33;
}

#andenReservado:hover
{
    -fx-background-color: #ffff00;
}

#andenOcupado:hover
{
    -fx-background-color: red;
}